In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.metrics import r2_score

In [ ]:
df=pd.read_csv("/content/insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [ ]:
print(df.shape,"\n\n")
print(df.isnull().sum(),"\n\n")
print(df.info,"\n\n")
print(df.describe())

(1338, 7)


age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64


<bound method DataFrame.info of       age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]>


               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [ ]:
df['children'].value_counts()

0    574
1    324
2    240
3    157
4     25
5     18
Name: children, dtype: int64

In [ ]:
df['smoker'].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [ ]:
df['sex'].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [ ]:
df['sex'].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [ ]:
# encoding sex column
df.replace({'sex':{'male':0,'female':1}}, inplace=True)

3 # encoding 'smoker' column
df.replace({'smoker':{'yes':0,'no':1}}, inplace=True)

# encoding 'region' column
df.replace({'region':{'southeast':0,'southwest':1,'northeast':2,'northwest':3}}, inplace=True)

In [ ]:
X=df.drop(columns=['charges','region'],axis=1)
y=df['charges']

In [ ]:
X.head()

   age  sex     bmi  children  smoker
0   19    1  27.900         0       0
1   18    0  33.770         1       1
2   28    0  33.000         3       1
3   33    0  22.705         0       1
4   32    0  28.880         0       1

In [ ]:
X.shape

(1338, 5)

In [ ]:
y.shape

(1338,)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=3)
X_train.shape

(1070, 5)

In [ ]:
print(X_test)

      age  sex     bmi  children  smoker
353    33    0  35.245         0       1
339    46    1  27.720         1       1
65     19    1  28.900         0       1
685    53    0  26.410         2       1
781    18    0  41.140         0       1
...   ...  ...     ...       ...     ...
1274   26    0  27.060         0       0
173    35    1  34.800         1       1
552    62    0  21.400         0       1
1145   52    0  32.775         3       1
46     18    1  38.665         2       1

[268 rows x 5 columns]

In [ ]:
y_test.shape

(268,)

In [ ]:
model=RandomForestRegressor(max_depth=4, n_estimators=700, random_state=3)
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

0.8681844585474183

In [ ]:
import pickle

In [ ]:
fname='healthins.sav'
pickle.dump(model,open(fname,'wb'))

In [ ]:
newmodel=pickle.load(open('healthins.sav','rb'))

In [ ]:
input=[[19,1,27.9,0,0]]
prediction=newmodel.predict(input)
print(prediction)

[17860.87216355]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"