In [104]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler

In [85]:
df=pd.read_csv("/content/insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [86]:
print(df.shape,"\n\n")
print(df.isnull().sum(),"\n\n")
print(df.info,"\n\n")
print(df.describe())

(1338, 7)


age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64


<bound method DataFrame.info of       age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]>


               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [87]:
df['children'].value_counts()

0    574
1    324
2    240
3    157
4     25
5     18
Name: children, dtype: int64

In [88]:
df['smoker'].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [89]:
df['sex'].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [90]:
df['age'].value_counts()

18    69
19    68
50    29
51    29
47    29
46    29
45    29
20    29
48    29
52    29
22    28
49    28
54    28
53    28
21    28
26    28
24    28
25    28
28    28
27    28
23    28
43    27
29    27
30    27
41    27
42    27
44    27
31    27
40    27
32    26
33    26
56    26
34    26
55    26
57    26
37    25
59    25
58    25
36    25
38    25
35    25
39    25
61    23
60    23
63    23
62    23
64    22
Name: age, dtype: int64

In [91]:
# encoding sex column
df.replace({'sex':{'male':0,'female':1}}, inplace=True)

3 # encoding 'smoker' column
df.replace({'smoker':{'yes':0,'no':1}}, inplace=True)

# encoding 'region' column
df.replace({'region':{'southeast':0,'southwest':1,'northeast':2,'northwest':3}}, inplace=True)

In [92]:
X=df.drop(columns='charges',axis=1)
y=df['charges']

In [93]:
X.shape

(1338, 6)

In [94]:
y.shape

(1338,)

In [95]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=3)
X_train.shape

(1070, 6)

In [96]:
print(X_test)

      age  sex     bmi  children  smoker  region
353    33    0  35.245         0       1       2
339    46    1  27.720         1       1       0
65     19    1  28.900         0       1       1
685    53    0  26.410         2       1       2
781    18    0  41.140         0       1       0
...   ...  ...     ...       ...     ...     ...
1274   26    0  27.060         0       0       0
173    35    1  34.800         1       1       1
552    62    0  21.400         0       1       1
1145   52    0  32.775         3       1       3
46     18    1  38.665         2       1       2

[268 rows x 6 columns]

In [97]:
y_test.shape

(268,)

In [141]:
model=RandomForestRegressor(max_depth=5, n_estimators=500, random_state=3)
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

0.8695315308929443

In [136]:
print(model.predict(X_test))

[ 4973.46698093 10497.2354229   2722.24340304 14036.46972799
  3347.20510845 14705.95588115  7228.83828745  2793.41362682
 11245.04182182  3067.86743104 10574.07632559 14080.64104435
  2672.47705493 12507.60109072  6110.44464408 14555.82777894
 11958.33571336  2976.85872218  2738.07182943 11443.75778174
 14258.76741632  7211.61585492  7225.32849813  6967.95022915
 12484.64765694 13501.6083934   5882.8554603   6982.86362752
  6395.05536482  3127.60615489  2669.54633573 10640.40016323
  4351.57791007  4290.65252491  2539.33202823 45434.05225951
  5863.13382415  6460.88551755  5284.13500692  4781.82636418
  4686.68584941 17098.06159766  2637.85593218 17164.04772446
 40787.50024128  8584.44497666  7481.52310501  7017.71800831
  2701.92547824 19241.06068077  7128.45748404 40245.90669981
  3266.50757634 10777.07177392 46499.22918222 11040.53367559
 40599.74084332  3011.29207855 10980.62275261 12337.58105919
  5139.4351517   5863.47091044 12330.92602539 12904.76328057
  5718.63186361  6064.78952674 19660.68928638  7262.88889591
 43974.41379849 14185.19776765  6033.27494762  6088.27643092
 22746.10113305  7772.06386831 12282.75836354  2744.97174393
 39969.77928787  5849.72662588 11689.0583432   4909.26844944
  9121.07181522 10437.49638451  7000.70943988 10397.35949382
  9585.25673747 18538.26152986 16173.71601993 13167.1060693
 47429.63782343 22846.31155651 20408.46811217 40299.0882792
  3017.2716157   3226.91007903 12173.36761192 34985.45438057
  5865.2490227  10754.24548166 26167.14917731 35413.39212056
 12363.17575562  7018.97487021  6980.95833484  9209.82853035
 39522.33831793  6918.69143169 14533.27429835  8080.70609001
 11739.93767668  9282.98639287 11921.96146942  6236.27006196
  7055.43990514 23451.94542949  5368.37230772  2797.55076228
  3113.07840095 46426.19196777  7468.36157629  9880.04526751
 43545.23226521  9125.17281757 47534.52334492 10856.44562341
 14117.70058947 10424.42353135 11051.56024006 16325.8396521
 46926.753506   17036.43175287 14234.1780678  14590.3127223
  6445.2542574   6686.96293806  2552.04976599  4680.421424
 14118.24550059 39312.37915937  9163.00869881  4815.62938819
 14276.7800824  38181.8749801   5059.93153275  6861.51950996
  2469.55367734 11719.9323628  12690.98659042  5913.87225768
  9878.75358763 17613.75264469  5110.78525407 14261.37557296
  4243.03929716  3283.28094477  7288.79185777 10357.30164662
 11741.32099803 10360.87851626  7481.21266855  3399.38822915
  7230.84821332  2806.05775972 14191.64494265  7507.73298373
  8087.72660636 37557.51383845 12517.31371435 12077.53774746
 16191.92968024 46638.2569225   7048.76481828 17483.39355193
  3438.16870284  8763.81438299 10436.63378101  6043.29779516
 47363.5182076  12285.36001773  5918.76610195 41973.85823786
 10401.80950584 35465.76225166 11171.00808541 14252.55817352
 14288.18508016  2624.97625722  3288.25578297  6032.80264609
 14498.99345101 12256.99494296 25032.97133207  9906.56273925
 14246.47719832 15947.00882463 11607.08826395  8716.49532223
 12484.5519292  46902.96917205  2655.96111766  4388.93228952
  4445.39939169  3113.07840095  6954.69733612  3754.42793349
  5901.02974488  5451.73548628  5207.8651682  16075.68543897
 11575.21712497 27456.0582167  10333.84726732 35050.49686105
 13918.73366529  6602.71964365  6105.0789302   4443.92882356
 35448.36035885  3645.54928263 17348.83718701  2634.13411433
 12423.36852615 13506.04739523  7016.07279996  6699.11370902
 45025.95253669  2944.46925815 19979.47045279 12964.03689751
 10031.91268948 11320.39342231  7343.42580706 19219.6658108
 24340.15259735 43507.88518931 27654.36516257  5954.05516255
  6038.63586414  6571.67079784  4588.67146403 36099.3131885
  4419.32618829  4841.74471365  6430.25698788 20114.71199514
 12435.69903198  7016.39054782 27083.30572323 47462.00364319
  2970.10712055  6960.67168422 24644.90903893 11808.10323323
  6622.86390646  6705.68618135 24656.91062177 14752.90397733
  2890.71138112 19846.91967776  3244.52542238 12492.24118766
  4200.90268845 12484.5519292  40842.850648   17776.58603982
  5973.77604241 14568.50687979 14534.5262123   6722.88099879]

In [137]:
print(y_test.values)

[12404.8791    8232.6388    1743.214    11244.3769    1146.7966
 14254.6082    7201.70085   1832.094     8835.26495   1880.487
  8823.98575  11881.9696    1708.0014   11454.0215    5934.3798
 12629.1656    9991.03765   1391.5287    1744.465    10264.4421
 12323.936     6877.9801    7173.35995   6640.54485  11856.4115
 12044.342     4349.462     6123.5688   27375.90478   2203.73595
  1705.6245   11552.904     2534.39375   1977.815     2045.68525
 42303.69215   5325.651     6753.038     3594.17085  21984.47061
  3554.203    15518.18025   1635.73365  16115.3045   39727.614
  7337.748     7196.867     6933.24225   2250.8352   19361.9988
  7358.17565  62592.87309   1720.3537    9225.2564   43254.41795
  9620.3307   40904.1995    1534.3045    8442.667     9748.9106
  3309.7926    4673.3922   12430.95335  10959.6947    4830.63
  6414.178    20149.3229    4646.759    44202.6536   12741.16745
  5385.3379    5125.2157   19798.05455   4504.6624   11658.11505
  1607.5101   39047.285     3471.4096    9957.7216    3443.064
  7152.6714    9058.7303    6940.90985   9301.89355   7445.918
 15006.57945  31620.00106  11554.2236   47896.79135  19594.80965
 20745.9891   39556.4945    1917.3184   27724.28875  10594.2257
 34254.05335   4746.344     8615.3      21348.706    34303.1672
 11735.87905   6393.60345   6775.961     8310.83915  36837.467
  6770.1925   13616.3586    6435.6237    9504.3103    8211.1002
 27117.99378   5594.8455   13725.47184  21259.37795   3484.331
  2156.7518    1141.4451   43578.9394   15828.82173   8240.5896
 40419.0191    4877.98105  46718.16325   9644.2525   13844.7972
  8871.1517    9290.1395   14474.675    47928.03     26125.67477
 14692.66935  13415.0381    4428.88785   5910.944     1727.785
  2866.091    13390.559    38792.6856    7624.63      4415.1588
 13822.803    36219.40545   4320.41085   3877.30425   1627.28245
  8671.19125  10493.9458    4266.1658    7626.993    16085.1275
  5469.0066   14410.9321    1972.95     21595.38229   7985.815
  7421.19455  11299.343     8798.593     7160.3303    1725.5523
  6686.4313    2198.18985  13981.85035   6653.7886   24059.68019
 35585.576    11931.12525  10355.641    14119.62     44400.4064
  6500.2359   17663.1442   13126.67745   6610.1097    7935.29115
  3861.20965  46599.1084   11363.2832    4441.21315  42211.1382
  8334.45755  34617.84065   8765.249    20462.99766  12124.9924
  1121.8739    2211.13075   4040.55825  12479.70895  10965.446
 24180.9335    7348.142    14901.5167   13844.506     9630.397
 14478.33015  10982.5013   47462.894     1702.4553    1981.5819
  1986.9334    1137.4697    6272.4772    2899.48935  11737.84884
  3981.9768   12609.88702  16069.08475  27346.04207  28868.6639
  8551.347    33732.6867   12096.6512    4906.40965   5116.5004
  2789.0574   34439.8559    2639.0429   15170.069     2007.945
 10226.2842   11741.726     6117.4945   18157.876    45863.205
  2261.5688   20234.85475  11436.73815   8516.829    10043.249
  7209.4918   17496.306    23244.7902   48885.13561  30942.1918
  5245.2269    6196.448     5425.02335   2494.022    36397.576
 11884.04858   4347.02335  23241.47453  21082.16     11070.535
  7077.1894   27533.9129   48824.45      7323.734819  4915.05985
 21098.55405  10107.2206    6334.34355  24915.04626  24873.3849
 12646.207     2128.43105  17352.6803    2755.02095  24227.33724
  2897.3235   11381.3254   40720.55105  17043.3414    5246.047
 12957.118    11289.10925   3393.35635 ]

In [145]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
X = df.drop(['charges','region'], axis = 1)
Y = df.charges

quad = PolynomialFeatures (degree = 2)
x_quad = quad.fit_transform(X)

X_train,X_test,Y_train,Y_test = train_test_split(x_quad,Y, random_state = 0)

plr = LinearRegression().fit(X_train,Y_train)

Y_train_pred = plr.predict(X_train)
Y_test_pred = plr.predict(X_test)

print(plr.score(X_test,Y_test))

0.8849197344147229

In [147]:
print(Y_test_pred)

[12082.16709981 10546.85546082 48255.65279046 14254.35912512
  8640.26009773  5044.82142214  3181.93337186 13552.15835567
  9674.28314915  7149.2326681   6989.9093408  12103.00521962
  9424.16200064  5401.19403768 25414.71722584 13018.44704436
 13282.86396881  5190.40768757  8448.5565349  27326.47923802
 26720.29703708 14633.92859031 10948.38390292 29970.24625404
  3587.46843241  6138.60985203  3102.63996608 10262.20508309
  5167.65826579 10512.03546863 10104.06981612 52778.57971163
 14742.66957693 12057.56347157 13433.16552802  5142.67334131
 10645.8288115  36992.07764241 36369.51440271  3442.94877266
  5239.35822999  4866.45200888 25025.81052403 47234.25440129
 36080.63428309  5552.56218516 12982.65210578  8640.12778662
  5514.5530651  13136.10198326  3769.35576725  5739.79936723
 30498.93622482 45976.65958679 12214.32575291  4564.05389523
  4171.26144871 10140.267556    9683.77327399 14231.50697142
  3214.65440137 40258.58045967 16389.13374981 12189.66856428
 12142.58590231 11435.84142251 26559.08944673 35055.6315685
  4795.02515922  9564.19013463 13926.67913528 13657.72601653
 22443.49831793 14796.95246192 12991.02522405 13490.35453824
  8262.18956861 10218.56946674 24525.94462339 47214.81956628
 12179.07825136 52865.67643372  3667.76070782  9837.99649363
 38960.88313093 22578.41893354  4241.82165398  4381.69776758
 14350.77840783 35542.4147535   8012.05938078 12142.63337178
  3099.14691372 10771.30663703  5942.21051179  6757.95228779
 36386.91319201 32730.57125599  7410.39077919 12084.70550127
  3817.74030172  7374.06027255  6783.51028081 35804.64480439
 29234.21279054  3859.30111784 11398.41111351  4655.99372803
 13313.40686113 41331.3217508  13177.46769008  5113.49807228
 10816.21402322 28484.04241027 53221.26471543  9224.02126651
  3406.92688886 10163.43096814 14627.61327557 10707.99203706
 40566.43499867  9023.05569852 14913.76410496  6687.3168064
  9538.88090918  5764.46128348 28117.86487454 21747.84598738
 50965.50636044  3125.19864923 10631.7476576   3777.62321997
  8138.57488555  9803.33449167 31190.29356266 30252.79637467
 23101.55110678 11669.04681068 24900.79920216  4530.22532444
  3517.47244758 11952.2441888  11700.30470249 11884.48656272
  6489.43080367 15253.85396416 14603.9845036   5303.64647156
  2517.79668828 12254.34257763  7954.01722662 43508.62411533
 11822.89990269  3872.32195249  3613.65414487  8618.52844043
  4491.3520715   3860.18126085 13014.22351389 12319.23141092
  6286.54659639 14485.77964246 13278.1035039  11402.55947608
  4568.4213686   5716.19661802 14618.06462697  8021.48400262
  6009.3384214   2288.94158414  5952.16992247  5945.24890832
 10386.53656334  3757.0436059   6253.90054142  5916.51804975
  5318.38878569  7114.19476131 37460.9473262   2934.95283656
 13209.24140548  8627.0873478  12959.76413179  4493.14536319
  6569.79861677 33027.64384403  3678.43899027  4612.04950541
 15326.76241225 12237.79064295 36297.71746929  6414.76266446
  7345.68771937 24517.56576747  3963.49393174  3791.36982522
  8222.02059765  8325.75142463  6098.63023583  6141.06587079
 12903.01715024 44491.02780976 14270.8404488  22646.45846546
  6388.18708663 43195.92907658  5147.11904285 11176.41011734
  8170.10314604  1469.88399813 10833.97375155 14522.91021556
  7115.76359341  3886.13304923  8604.55568252  3502.45252086
  8125.00313259  6139.51802317 16143.00810302  6653.23150543
  8399.67938129  9125.91543105  9611.01921047  3852.06367132
 13039.89523719 15525.5008157  14474.1814917  12468.63569495
  7537.5019416   3953.27727686  3099.97083405  9764.79931614
 13352.86503053  5979.13595509  6187.75760319  9384.88566005
 10685.3841206  28534.56483618  7749.92901682 12674.31135091
  6840.10857878 34409.54947632  9635.3592792   7837.79355342
 10278.15298214 12476.0850654   4562.54609463  9408.39608711
  3373.8960944   8024.25137739 27206.77179524 43429.44429434
  6341.56902412  4111.4267235   3295.18672138  2583.39999636
  9889.04350819  2796.1934558   5604.23607216  5185.32641707
  9276.91967752 31304.28214917 41002.0705644  16803.58524962
  8574.9137462  12465.01124155 42466.00877394 10550.55839365
 35891.62955467  2922.31060452 37753.92585769  6963.33278341
 14328.8181727   6063.711684   37309.00006381  7163.59256226
 11513.16658005 10073.05957308  4146.54072551 14869.4100996
 12727.15468062  5855.57795357 13961.81229584  3297.07125388
  7680.5034189   5496.53473344 10550.02660653 25641.08139721
  2881.97583461  2876.70031769  3448.41989927 47879.77091215
 10654.70050584  6525.14242655 14274.69269486 13251.46455295
 29583.68148906  8463.52488838  7139.95150218 10400.02967811
  3238.39419707  4703.50866953  9107.90666304 20559.64793817
 14441.30267779  3998.62548865  5386.50616996 10642.07575294
 11191.31109105 14432.94328468 25867.23914727  8043.76645249
 15877.23663136  3420.82598063  6590.91824029  5970.13248234
  8829.2903652   3541.05311444  8011.32116765 44472.71490636
  5608.88901715  5741.67088097  2895.79715261  9691.28060292
  4780.10452072 12043.52319516 45516.96513881 18033.13599326
 11135.77917382 43369.0465003  14995.87248555  6387.95395678
 11733.75247374  5230.4452919  36592.35696895]